section {
  border: 3px solid black;
  font: normal 14pt arial;
  width: 1400px;  
  height: 550px;
  background-color: rgba(179, 174, 106, 0.541);
}

h1,h2,p {
    margin-left: 1%;
    margin-right: 1%;
}

h1 {
    text-align: center;
}

/* MEDIA SMARTHPHONES */


@media (max-width: 600px) {
    
section {
  border: 3px solid black;
  font: normal 14pt arial;
  width: 447px;  
  height: 1250px;
  background-color: rgba(179, 174, 106, 0.541);
}

}