:root {
    --cor_fundo: rgba(0, 0, 0, 0.826);
    --cor_titulos: black;
    --cor_main: #b92b1b;
    --cor_main2: #7d104ff3;

    --fonte_padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte_h1: 'IBM Plex Serif', cursive;

}

body {
    background: var(--cor_fundo)
}

header {
    color: var(--cor_titulos);
    font: bold 15pt cursive;
    text-align: center;
}




#space{
    opacity: 0; /* serve apenas para gerar espaço mínimo entre section(box grande) e topo da tela */
}

section{
    margin: auto;
    width: 700px;
    height: 500px;
    border-radius: 10px;
    padding-top: 10px;
    border: 1.5px solid rgb(7, 2, 2);
    background-image: linear-gradient(to bottom, var(--cor_main), var(--cor_main2));
}



#tresDT{
    max-width: 220px;
    height: auto;
    display: flex;
    margin-top:  90px;
    margin-left: 25%;
}

#thyr{
    max-width: 215px;
    height: auto;
    display: flex;
    margin-top:  -220px;
    margin-left: 90%;
}

/*  CONFIG PARA EVITAR QUE CURSOR NO PC FIQUE AJUSTADO E SO MANDE PRA PROX PAGINA SE CLICAR NO BOOK: */

a {
    display: inline-block; /* Garante que o <a> só ocupe o espaço da imagem */
    padding: 0;           /* Remove qualquer preenchimento */
    margin: 0;            /* Remove qualquer margem */
}

a img {
    display: block;       /* Remove possíveis espaços de alinhamento ao redor da imagem */
    width: 100%;          /* Garante que a imagem ocupe o espaço total dentro do link */
    height: auto;         /* Mantém a proporção da imagem */
}



/*

#regras{
    
    max-width: 150px;
    height: auto;
    display: flex;
    margin-top: 350px;
    margin-left: 12px;
}

#monstros{
    display: flex;
    max-width: 130px;
    margin-top: 128px;
    height: auto;
    margin-left: 425px;
}

#mundos{
    display: flex;
    max-width: 130px;
    margin-top: -108px;
    height: auto;
    margin-left: 325px;
}

*/

