body {
    background: rgb(28, 27, 27);
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: rgb(114, 114, 114);
    width: 1200px;
    height: 580px;
    margin: auto;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    
}

#imagem { 
    height: 400px;
    display: flex;
    margin-left: 70px;
    margin-top: -30px;   
}

#msg {
    text-align: left;
    margin-left: 380px;
    display: flex;
    font: bold 12pt cursive;
}

#tabela-will { /* TABELA 1 - WILL DADOS */
    width: 300px;
    border-collapse: collapse;
    font-size: 11pt;
    margin-left: 34%;
    margin-top: -350px;
    
}

th, td {
    border: 1px solid rgb(0, 0, 0);
    padding: 8px;
    text-align: center;
}

th {
    background-color: rgba(66, 21, 108, 0.705);
}

#play_music{
    width: 70px;
    height: 40px;
    display: flex;
    color: brown;
    background-color: chocolate;
    font: bold 9pt cursive;
    text-align: center;
    margin-left: 75%;
    margin-top: -50px;
}
