body {
    background: rgb(28, 27, 27);
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: rgb(114, 114, 114);
    width: 1000px;
    height: 480px;
    margin: auto;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    
}

#imagem { 
    height: 400px;
    display: flex;
    margin-left: 70px;
    margin-top: -30px;   
}

#msg {
    text-align: left;
    margin-left: 380px;
    display: flex;
    font: bold 8pt cursive;
}

#tabela-will { /* TABELA 1 - WILL DADOS */
    width: 300px;
    border-collapse: collapse;
    font-size: 7pt;
    margin-left: 42%;
    margin-top: -350px;
    
}

th, td {
    border: 1px solid rgb(0, 0, 0);
    padding: 8px;
    text-align: center;
}

th {
    background-color: rgba(66, 21, 108, 0.705);
}

