body {

    background: rgba(79, 103, 154, 0.826)

}

header {

    font: normal 12pt cursive;
    text-align: center;
}

#fundo_img {

    background-color: rgba(150, 19, 19, 0.968);
    background-image: url(pt02.jpg); 
    background-position: center;
    background-size: contain;
    border-radius: 15px;
    margin: auto;
    margin-top: 25px;
    width: 920px;
    height: 460px;
    display: flex;
    gap: 150px; /* LARGURA DAS BOXES */
}

.vertical-line { /* LINHA Vertical */

    width: 125px;               /* Define a largura da linha */
    height: 1px;            /* Define a altura da linha */
    background-color: #000000;   /* Cor da linha */
    margin-top: -5px; /* Espaçamento horizontal */   
}

.list_box {

    width: 200px;
    background-color: aliceblue;
    text-align: center;
    font: normal 10pt cursive;
    margin-top: 25px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid black;
    border-radius: 15px;
    opacity: 0.6;

}

#box_1 {

    height: 335px;
    margin-left: 100px;
    line-height: 35px;
}

#box_2 {

    height: 400px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 20px;
    margin: auto;
    margin-top: 25  px;
}

#box_3 {

    height: 285px;
    line-height: 28px;
    margin-right: 100px;
}

a {
    text-decoration: none;
}

/* ---------------------------- CONFIG MOBILE ---------------------------- */


@media (max-width: 768px) {

    #fundo_img {

        background-position: center;
        background-color: rgb(255, 0, 0);
        background-size: cover;
        border-radius: 10px;
        margin: auto;
        margin-top: 25px;
        width: 340px;
        height: 780px;
        display: flex;
        gap: 20px; /* LARGURA DAS BOXES */
    }

    .list_box {

        padding-left: 0px;
        padding-right: 0px;
    }

    #box_1 {

        height: 295px;
        margin-left: 20px;
        line-height: 25px;
    }
    
    #box_2 {
    
        height: 400px;
        padding-left: 10px;
        padding-right: 10px;
        line-height: 20px;
        margin-left: -70px;
        margin-top: 355px;
    }
    
    #box_3 {
    
        height: 295px;
        line-height: 28px;
        margin-left: -80px;
    }
}

/*-----------------------------config para usar mais tarde-----------------*/

/*

@media (max-width: 768px) {
    .box {
        flex: 1 1 calc(50% - 20px); /* Em telas menores, ocupa metade da largura */
    /*}
/*}

*/




/*---------------------------------------------------------------------------*/
