body {
    background: rgba(79, 103, 154, 0.826)
}

header {
    color: black;
    font: normal 15pt cursive;
    text-align: left;
}

#h2 {
    text-align: center;

}


#arvore { /* img */
    height: 300px;
    display: flex;
    padding-left: 24%;
    margin-top: -290px;
}

p {
    text-indent: 20px;
    font-size: 12pt;
}

#arvores { /* Box com links */
    width: 200px;
    height: 400px;
    background-color: aliceblue;
    margin-left: 750px;
    margin-top: -330px;
    display: flex;
    border: 1.5px solid black;
    border-radius: 12px;
    font: normal 12pt cursive;

}



#p-list {
    
    margin-left: 30px;
    margin-top: -40px;
    font-size: 11pt;
    line-height: 60px;
    text-align: center;


}

